/*body {
  font-family: Noto;
  font-style: normal;
}*/

hr {
  width: 100px;
}

.timelines {
  margin: auto;
  width: 90%;
}

div.selected1 {
  background-color: rgb(89, 226, 168);
}

div.selected2 {
  background-color: #CAFCFC;
}

div.selected3 {
  background-color: #FCCACA;
}

timeline-directive.not-selected {
  background-color: white;
}
