<md-content style="margin: auto;width:90%">
  <!-- <md-title> -->
    <h1 class="md-display-2" editable-text="show.name"></h1>
  <!-- </md-title> -->
  <h2 class="md-display-1"><span><md-icon class="md-accent" style="font-size:36px;margin-right:10px" md-font-set="material-icons">music_note</md-icon>{{show.song.name}}</span></h2>
  <h3 class="md-headline">{{ show.settings.bpm }} BPM</h3>


  <!-- <div>
    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect md-dynamic-height>
      <md-tab ng-repeat="tab in tabs" label="{{ tab.title }}"></md-tab>
    </md-tabs>
  </div> -->


<md-switch ng-disabled="false" ng-model="isQuarterResolution" ng-change="changeResolution(isQuarterResolution)">{{ isQuarterResolution ? "quarter note" : "eighth note" }}</md-switch>

<!-- <md-content layout="column"> -->
<md-content layout="row"  style="margin:auto;width:100%">
  <md-content layout="column">
    <div layout="column" layout-align="center">
      <div style="height:33px" ng-repeat="(eventGrouping, obj) in timelinesArray"><span>{{eventGrouping | uppercase}}<md-icon md-font-set="material-icons">{{ obj.icon }}</md-icon></span></div>
    </div>
    <div flex style="margin-right:10px">
      <md-progress-circular class="md-warn md-hue-3" ng-show="!songLoaded" ng-disabled="songLoaded" md-mode="determinate" md-diameter="25" value="{{loading}}"></md-progress-circular>
      <md-button style="width:30px;margin-left:0px" class="md-accent md-raised" ng-click="toggleSong()" ng-disabled="!songLoaded" ng-show="songLoaded">
        <md-icon ng-show="!songPlaying" md-font-set="material-icons">play_arrow</md-icon>
        <md-icon ng-show="songPlaying" md-font-set="material-icons">pause</md-icon>
      </md-button>
    </div>
  </md-content>

  <md-content flex style="margin:auto;width:{{timelineWidth}}px">
    <div class="timelines" style="width:{{timelineWidth}}px;border-right:1px solid white; border-bottom:1px solid white">

      <div layout="column" style="border-right:1px solid white">
        <div layout="row" ng-repeat="(eventGrouping, obj) in timelinesArray">
          <div style="height:33px" ng-repeat="line in obj.array track by $index" ng-click="selectIdx($index, eventGrouping)"
                ng-class="{ 'selected1' : highlightCellOrNot($index, eventGrouping, 'colors'),
            'selected2' : highlightCellOrNot($index, eventGrouping, 'text'),
            'selected3' : highlightCellOrNot($index, eventGrouping, 'phone') }"
            ng-style="(isCurrentTimeline($index, startingIdx, lastIdx, eventGrouping, activeArrayKey) && { 'backgroundColor': newEvent.params.color }) || (isAddedToShow($index, eventGrouping, activeArrayKey) && { 'backgroundColor' : isAddedToShow($index, eventGrouping, activeArrayKey) })">
            <timeline-directive index="{{$index}}" starting-idx="{{startingIdx}}" last-idx="{{lastIdx}}" event-grouping="{{eventGrouping}}" data="data" notes-per-measure="{{notesPerMeasure}}" height-key="{{getDivHeight($index)}}" width-key="16"></timeline-directive>
          </div>
        </div>
      </div>
    </div>
    <div style="height:20px"></div>
    <md-content id="waveform" style="width:{{timelineWidth}}px">
    </md-content>

  </md-content>

</md-content>

<md-divider style="margin-top:25px"></md-divider>

<div layout="row">
    <div ng-show="activeArrayKey" flex="50">
      <md-title><h2>Adding Event</h2></md-title>
      <md-card style="margin-right:10px">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline md-accent">{{actionsObj[newEvent.action].label || 'Select Action Below'}}</span>
            <!-- <span class="md-subheader" ng-show="newEvent.action">{{activeArrayKey}}</span> -->
          </md-card-title-text>
        </md-card-title>
        <md-card-content style="padding-left:10px">

          <event-inputs style="padding-left:10px"></event-inputs>
          <md-button style="margin-top:10px" ng-click="addAction()" class="md-raised md-accent"><span class="md-primary">Add action</span></md-button>
        </md-card-content>
      </md-card>
    </div>
    <div ng-show="!activeArrayKey" flex="50">
      <md-title><h2>Click somewhere on timeline to add an event!</h2></md-title>
    </div>
    <div flex="50">
      <div ng-show="show.events.length > 0">
        <md-title><h2>Saved events</h2></md-title>
        <saved-events></saved-events>

      </div>
    </div>
</div>
</md-content>
