{{show}}
{{newEvent}}
<md-content layout-padding>
  <md-title>
    <h1 class="md-display-2" placeholder="Show Name" editable-text="show.name"></h1>
  </md-title>
  <h3 class="md-headline">{{ show.settings.bpm }} BPM</h3>
  <div>
    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect md-dynamic-height>
      <md-tab ng-repeat="tab in tabs" label="{{ tab.title }}"></md-tab>
    </md-tabs>
  </div>
</md-content>
<md-switch ng-disabled="false" ng-model="isQuarterResolution" ng-change="changeToResolution(isQuarterResolution)">{{ isQuarterResolution ? "quarter note" : "eighth note" }}</md-switch>
<md-content flex>
  <div layout="row" ng-repeat="(eventGrouping, array) in timelinesArray">
    <div style="height:33px" ng-repeat="line in array track by $index" ng-click="selectIdx($index, eventGrouping)"
          ng-class="{ 'selected1' : highlightCellOrNot($index, eventGrouping, 'colors'),
      'selected2' : highlightCellOrNot($index, eventGrouping, 'text'),
      'selected3' : highlightCellOrNot($index, eventGrouping, 'phone') }"
      ng-style="(isCurrentTimeline($index, startingIdx, lastIdx, eventGrouping, 'colors') && { 'backgroundColor': newEvent.params.color }) || (isAddedToShow($index, eventGrouping, 'colors') && { 'backgroundColor' : isAddedToShow($index, eventGrouping, 'colors') })">
      <timeline-directive index="{{$index}}" starting-idx="{{startingIdx}}" last-idx="{{lastIdx}}" event-grouping="{{eventGrouping}}" data="data" notes-per-measure="{{notesPerMeasure}}" height-key="{{getDivHeight($index)}}" width-key="16"></timeline-directive>
    </div>
  </div>
</md-content>
<span ng-show="newEvent.time">{{newEvent.time}} || {{eventEndTime}}</span>
<add-event></add-event>
