  <md-content>
  <div layout="row">
    <!-- <div ng-show="!activeArrayKey">Click the timeline again to add another event</div> -->
    <form name="newEventForm" ng-show="activeArrayKey">

    <label>{{ actionTime }}</label>
    <md-input-container>
      <label>Select Action</label>
      <md-select ng-model="newEvent.action">
        <md-select-header>
          <span> Action - </span>
        </md-select-header>
        <md-option ng-value="action" ng-repeat="action in eventGroupings[activeArrayKey].actions">{{ actionsObj[action].label }}</md-option>
      </md-select>
    </md-input-container>
    <div ng-show="activeArrayKey === 'colors'">
      <div  md-color-picker
            ng-model="newEvent.params.color"
            label="Choose a Color"
            icon="brush"
            default="f00"
            md-color-generic-palette="false"
            md-color-history="false">
      </div>
    </div>
    <md-input-container
      ng-show="activeArrayKey !== 'colors'"
      ng-repeat="param in actionsObj[newEvent.action].params">
      <label>{{ param }}</label>
      <input ng-model="newEvent.params[param]">
    </md-input-container>
    <md-button ng-click="addAction()" class="md-primary md-raised">Add action</md-button>
    </form>
</div>
</md-content>

<md-divider ng-if="show.events"></md-divider>
<md-content ng-show="show.events.length > 0" layout-padding>
  <md-title><h2>Saved actions</h2></md-title>

  <table ng-table="tableParams" class="table" show-filter="true">
    <tr ng-repeat="event in show.events">
        <td title="'Start time Action'">
          {{event.time}}
        </td>
        <td title="'End Time'">
          {{event.endTime}}
        </td>
        <td title="'Event Grouping'">
          {{eventGroupings[event.eventGroupings].label}}
        </td>
        <td title="'Action'">
          {{actionsObj[event.action].label}}
        </td>

    </tr>
  </table>
  <form name="createShowForm">
    <md-input-container>
      <label>Show Name</label>
      <input ng-model="show.name" required>
    </md-input-container>
    <md-input-container>
      <input mdc-datetime-picker date="true" time="true" type="text" id="time" short-time="true"
        placeholder="Time"
        ng-model="show.startTime">
        {{show.startTime}}
    </md-input-container>
    <md-button ng-show="show.events.length > 0" ng-click="createShow()" class="md-raised">Create show</md-button>
  </form>
</md-content>
