<md-content>
  <!-- <md-list >
    <md-list-item ng-repeat="show in shows track by $index">
      <div>{{show.name}}</div>
    </md-list-item>
  </md-list> -->

  <md-radio-group ng-model="show.selected">
    <!-- <p>Selected Show: <span class="radioValue"> {{ show.selected.name }}</span></p> -->
    <md-radio-button ng-repeat="show in shows" ng-value="show">{{show.name}}</md-radio-button>
  </md-radio-group>
  <md-button class="md-accent" ui-sref="editShow({ id: show.selected._id })">Open Show</md-button>
</md-content>
